#news {
  /*! background-color: #a88888; */
}
#news .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}
#news .h2 {
  grid-column: 1;
  grid-row: 1;
}
#news .h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background-image: url(../img/news_icon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#news .p {
  grid-column: 1;
  grid-row: 2;
}

#news article {
}
#news article:nth-of-type(1){
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  height: 310px;
  background-color: #ccc;
  background-image: linear-gradient(#0005 41%, #fff0 63%), url(../img/sns1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* #news article:nth-of-type(1) a {
  color: white;
}
#news article:nth-of-type(2) a {
  color: white;
}
#news article:nth-of-type(3) a {
  color: white;
} */
#news article:nth-of-type(-n+3) a {
  color: white;
}

#news article:nth-of-type(2){
  
  grid-column: 4;
  grid-row: 1 / span 2;
  background-color: #0081c4;
  border-radius: 0 0 70px 0;
}
#news article:nth-of-type(n+3) {
  height: 264px;
}
#news article:nth-of-type(3){
  
  grid-column: 1;
  grid-row: 3;
  background-color: #82bedd;
}
#news article:nth-of-type(n+4) {
  
  border: 1px solid #bbb7b7;
}
#news article:nth-of-type(4){
  grid-column: 2;
  grid-row: 3;
}
#news article:nth-of-type(5){
  grid-column: 3;
  grid-row: 3;
}
#news article a {
  height: 100%;
  padding: 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#news article h3 {
}

#news article:nth-of-type(n+2):nth-of-type(-n+3) h3 {
  font-weight: bold;
}
#news article time {
}
#news div.sns {
  grid-column: 4;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #eee;
  padding: 0 16px;
  margin: 10px 0;
}
#news div.sns h3 {
  border-bottom: 1px solid #bbb7b7;
  padding-bottom: 15px;
}
#news div.sns ul {
  /*! gap: 29px; */
  justify-content: space-between;
}
#news div.sns ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#news div.sns ul li h4 {
}
#news div.sns ul li span {
}
#news div.sns ul li span a {
  font-size: 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  /*! background-color: #eee; */
  /*! margin-right: 6px; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#news div.sns ul li:nth-child(1) span a:nth-child(1) {
  background-image: url(../img/svg/sns/snsfa.svg);
}
#news div.sns ul li:nth-child(1) span a:nth-child(2) {
  background-image: url(../img/svg/sns/snsin.svg);
}
#news div.sns ul li:nth-child(1) span a:nth-child(3) {
  background-image: url(../img/svg/sns/snsyou.svg);
}
#news div.sns ul li:nth-child(2) span a:nth-child(1) {
  background-image: url(../img/svg/sns/snsfa.svg);
}
#news div.sns ul li:nth-child(2) span a:nth-child(2) {
  background-image: url(../img/svg/sns/snsin.svg);
}
#news div.sns ul li:nth-child(3) span a {
  background-image: url(../img/svg/sns/snsfa.svg);
}